body {
    background: url('../img/bg.jpg') center center fixed;
    background-size: cover;
}

input[type="button"] {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.item,
#form {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item:first-child {
    margin-top: 30px;
}

#form h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
}

#form input[type="button"] {
    margin-bottom: 0;
}

.item .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-details {
    font-weight: bold;
}

.modal-content {
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
}

.modal-header,
.modal-body {
    text-align: center;
}

.modal-header .close {
     display: none;
}